In [59]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import Row
from pyspark.sql.types import *       # for datatype conversion
from pyspark.sql.functions import *   # for col() function
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.feature import Tokenizer
import re
import pyspark.sql.functions as f
from pyspark.ml.feature import HashingTF, IDF, Tokenizer
from numpy import array
from math import sqrt
from pyspark.ml.clustering import KMeans
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.types import DoubleType
from pyspark.ml.feature import StringIndexer


sc = SparkContext.getOrCreate()
sqlCtx = SQLContext(sc)

spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Jeopardy Calculation") \
    .config("spark.executor.memory", '2g') \
    .config('spark.executor.cores', '1') \
    .config('spark.cores.max', '1') \
    .config("spark.driver.memory",'1g') \
    .getOrCreate()

In [2]:
#reading in the jeopardy data set
jeopardy = spark.read.json("JEOPARDY_QUESTIONS1-Copy1.json")

In [3]:
#shows first 30 observations of jeopardy data set
jeopardy.show(30)

+----------+--------------------+--------------------+--------------------+----------------+-----------+------+
|  air_date|              answer|            category|            question|           round|show_number| value|
+----------+--------------------+--------------------+--------------------+----------------+-----------+------+
|2004-12-31|          Copernicus|             HISTORY|'For the last 8 y...|       Jeopardy!|       4680|  $200|
|2004-12-31|          Jim Thorpe|ESPN's TOP 10 ALL...|'No. 2: 1912 Olym...|       Jeopardy!|       4680|  $200|
|2004-12-31|             Arizona|EVERYBODY TALKS A...|'The city of Yuma...|       Jeopardy!|       4680|  $200|
|2004-12-31|         McDonald\'s|    THE COMPANY LINE|'In 1963, live on...|       Jeopardy!|       4680|  $200|
|2004-12-31|          John Adams| EPITAPHS & TRIBUTES|'Signer of the De...|       Jeopardy!|       4680|  $200|
|2004-12-31|             the ant|      3-LETTER WORDS|'In the title of ...|       Jeopardy!|       4680|  $200|
|2004-12-31|      the Appian Way|             HISTORY|'Built in 312 B.C...|       Jeopardy!|       4680|  $400|
|2004-12-31|      Michael Jordan|ESPN's TOP 10 ALL...|'No. 8: 30 steals...|       Jeopardy!|       4680|  $400|
|2004-12-31|          Washington|EVERYBODY TALKS A...|'In the winter of...|       Jeopardy!|       4680|  $400|
|2004-12-31|      Crate & Barrel|    THE COMPANY LINE|'This housewares ...|       Jeopardy!|       4680|  $400|
|2004-12-31|      Jackie Gleason| EPITAPHS & TRIBUTES|  '"And away we go"'|       Jeopardy!|       4680|  $400|
|2004-12-31|             the cud|      3-LETTER WORDS|'Cows regurgitate...|       Jeopardy!|       4680|  $400|
|2004-12-31|Ceylon (or Sri La...|             HISTORY|'In 1000 Rajaraja...|       Jeopardy!|       4680|  $600|
|2004-12-31|           Jim Brown|ESPN's TOP 10 ALL...|'No. 1: Lettered ...|       Jeopardy!|       4680|  $600|
|2004-12-31|        the UV index|EVERYBODY TALKS A...|'On June 28, 1994...|       Jeopardy!|       4680|  $600|
|2004-12-31|              Bulova|    THE COMPANY LINE|'This company's A...|       Jeopardy!|       4680|  $600|
|2004-12-31|         Jesse James| EPITAPHS & TRIBUTES|'Outlaw: "Murdere...|       Jeopardy!|       4680|  $600|
|2004-12-31|                 imp|      3-LETTER WORDS|'A small demon, o...|       Jeopardy!|       4680|  $600|
|2004-12-31|   the International|             HISTORY|'Karl led the fir...|       Jeopardy!|       4680|  $800|
|2004-12-31|        (Lou) Gehrig|ESPN's TOP 10 ALL...|'No. 10: FB/LB fo...|       Jeopardy!|       4680|  $800|
|2004-12-31|             Morocco|EVERYBODY TALKS A...|'Africa's lowest ...|       Jeopardy!|       4680|  $800|
|2004-12-31|       (Paul) Bonwit|    THE COMPANY LINE|'Edward Teller & ...|       Jeopardy!|       4680|  $800|
|2004-12-31|Hattie McDaniel (...| EPITAPHS & TRIBUTES|'1939 Oscar winne...|       Jeopardy!|       4680|$2,000|
|2004-12-31|                 era|      3-LETTER WORDS|'In geologic time...|       Jeopardy!|       4680|  $800|
|2004-12-31|  the Congress Party|             HISTORY|'This Asian polit...|       Jeopardy!|       4680| $1000|
|2004-12-31|  (Wilt) Chamberlain|ESPN's TOP 10 ALL...|'No. 5: Only cent...|       Jeopardy!|       4680| $1000|
|2004-12-31|                  K2|    THE COMPANY LINE|'The Kirschner br...|       Jeopardy!|       4680| $1000|
|2004-12-31|         Ethan Allen| EPITAPHS & TRIBUTES|'Revolutionary Wa...|       Jeopardy!|       4680| $1000|
|2004-12-31|                 ply|      3-LETTER WORDS|'A single layer o...|       Jeopardy!|       4680| $1000|
|2004-12-31|              Horton|DR. SEUSS AT THE ...|'<a href="http://...|Double Jeopardy!|       4680|  $400|
+----------+--------------------+--------------------+--------------------+----------------+-----------+------+
only showing top 30 rows

In [4]:
#shows top 20 categories with highest count of observations, and the counts associated with them
j_categoryCount = jeopardy.groupBy("category").count()
j_categoryCount.sort(desc("count")).show()

+--------------------+-----+
|            category|count|
+--------------------+-----+
|      BEFORE & AFTER|  547|
|             SCIENCE|  519|
|          LITERATURE|  496|
|    AMERICAN HISTORY|  418|
|           POTPOURRI|  401|
|       WORLD HISTORY|  377|
|        WORD ORIGINS|  371|
|COLLEGES & UNIVER...|  351|
|             HISTORY|  349|
|              SPORTS|  342|
|         U.S. CITIES|  339|
|     WORLD GEOGRAPHY|  338|
|     BODIES OF WATER|  327|
|             ANIMALS|  324|
|      STATE CAPITALS|  314|
| BUSINESS & INDUSTRY|  311|
|             ISLANDS|  301|
|      WORLD CAPITALS|  300|
|      U.S. GEOGRAPHY|  299|
|            RELIGION|  297|
+--------------------+-----+
only showing top 20 rows

In [5]:
#This is the number of categories in the dataset
j_categoryCount.count()

27995

In [7]:
#This is the number of categories in the dataset which have greater than 50 observations
j_categoryCount = jeopardy.groupBy("category").count()
count100 = j_categoryCount.sort(desc("count")).filter(j_categoryCount["count"] > 100).count()
count100

145

In [8]:
#This is a list of all categories which have a count greater than 50
top_categories = list(j_categoryCount.sort(desc("count")).select("category").limit(count100).toPandas().category)
top_categories

['BEFORE & AFTER',
 'SCIENCE',
 'LITERATURE',
 'AMERICAN HISTORY',
 'POTPOURRI',
 'WORLD HISTORY',
 'WORD ORIGINS',
 'COLLEGES & UNIVERSITIES',
 'HISTORY',
 'SPORTS',
 'U.S. CITIES',
 'WORLD GEOGRAPHY',
 'BODIES OF WATER',
 'ANIMALS',
 'STATE CAPITALS',
 'BUSINESS & INDUSTRY',
 'ISLANDS',
 'WORLD CAPITALS',
 'U.S. GEOGRAPHY',
 'RELIGION',
 'OPERA',
 'SHAKESPEARE',
 'LANGUAGES',
 'BALLET',
 'TELEVISION',
 'FICTIONAL CHARACTERS',
 'TRANSPORTATION',
 'RHYME TIME',
 'PEOPLE',
 'STUPID ANSWERS',
 'ART & ARTISTS',
 'THE BIBLE',
 'ART',
 'BOOKS & AUTHORS',
 'U.S. HISTORY',
 'FOOD',
 'MUSEUMS',
 'AMERICANA',
 'SCIENCE & NATURE',
 'COMMON BONDS',
 'HOLIDAYS & OBSERVANCES',
 'GEOGRAPHY',
 '3-LETTER WORDS',
 'ANNUAL EVENTS',
 'AMERICAN LITERATURE',
 'CLASSICAL MUSIC',
 'AUTHORS',
 'POP MUSIC',
 'POETS & POETRY',
 'QUOTATIONS',
 'HODGEPODGE',
 'MYTHOLOGY',
 'NONFICTION',
 'THE MOVIES',
 'WORLD CITIES',
 'MUSICAL INSTRUMENTS',
 'AROUND THE WORLD',
 'THE CIVIL WAR',
 'MUSIC',
 'U.S. PRESIDENTS',
 'COMPOSERS',
 'ASTRONOMY',
 'FOOD & DRINK',
 '4-LETTER WORDS',
 'BIOLOGY',
 'HISTORIC NAMES',
 'MOUNTAINS',
 'POTENT POTABLES',
 'HOMOPHONES',
 'EUROPEAN HISTORY',
 'MEDICINE',
 'SCIENTISTS',
 'ORGANIZATIONS',
 'EXPLORERS',
 'ARCHITECTURE',
 'WEIGHTS & MEASURES',
 'FIRST LADIES',
 'TRAVEL & TOURISM',
 'FRUITS & VEGETABLES',
 'MAGAZINES',
 'THE BODY HUMAN',
 'IN THE DICTIONARY',
 'FAMOUS AMERICANS',
 'AWARDS',
 'ZOOLOGY',
 'NATURE',
 'VOCABULARY',
 'FOREIGN WORDS & PHRASES',
 'FASHION',
 'THEATRE',
 '5-LETTER WORDS',
 '19th CENTURY AMERICA',
 'CHEMISTRY',
 'WORLD LEADERS',
 'PHYSICS',
 'GOVERNMENT & POLITICS',
 'U.S. STATES',
 'ABBREV.',
 'GENERAL SCIENCE',
 'ARTISTS',
 'NOTABLE NAMES',
 'THE AMERICAN REVOLUTION',
 '10-LETTER WORDS',
 'FAMOUS NAMES',
 'ANATOMY',
 'ACTORS & ACTRESSES',
 'LAKES & RIVERS',
 'COUNTRIES OF THE WORLD',
 'BIRDS',
 'ODDS & ENDS',
 'POP CULTURE',
 'PEOPLE IN HISTORY',
 'FAMILIAR PHRASES',
 'HAIL TO THE CHIEF',
 'POETRY',
 'SIGNS & SYMBOLS',
 'HEALTH & MEDICINE',
 'MAMMALS',
 'U.S.A.',
 'POLITICIANS',
 'BOTANY',
 'QUOTES',
 'INVENTORS',
 'CLASSICAL COMPOSERS',
 'LETTER PERFECT',
 'HISTORIC AMERICANS',
 'SCULPTURE',
 'SINGERS',
 'THE OLD TESTAMENT',
 'ROYALTY',
 'MUSICAL THEATRE',
 'DOUBLE TALK',
 'COLORS',
 'WORLD LITERATURE',
 'EUROPE',
 'BODY LANGUAGE',
 'ARCHAEOLOGY',
 'THE ELEMENTS',
 'TECHNOLOGY',
 'MIDDLE NAMES',
 'PLAYWRIGHTS',
 'THE OSCARS',
 'FAMOUS WOMEN',
 'ANCIENT HISTORY',
 'LIBRARIES']

In [9]:
#Shows 5 observations in our new dataset that only contains categories that have greater than 50 osbervations
jeo_f = jeopardy.where(col("category").isin(top_categories))
jeo_f.show(5)

+----------+--------------------+--------------+--------------------+---------+-----------+-----+
|  air_date|              answer|      category|            question|    round|show_number|value|
+----------+--------------------+--------------+--------------------+---------+-----------+-----+
|2004-12-31|          Copernicus|       HISTORY|'For the last 8 y...|Jeopardy!|       4680| $200|
|2004-12-31|             the ant|3-LETTER WORDS|'In the title of ...|Jeopardy!|       4680| $200|
|2004-12-31|      the Appian Way|       HISTORY|'Built in 312 B.C...|Jeopardy!|       4680| $400|
|2004-12-31|             the cud|3-LETTER WORDS|'Cows regurgitate...|Jeopardy!|       4680| $400|
|2004-12-31|Ceylon (or Sri La...|       HISTORY|'In 1000 Rajaraja...|Jeopardy!|       4680| $600|
+----------+--------------------+--------------+--------------------+---------+-----------+-----+
only showing top 5 rows

In [10]:
jeo_f.count()

29252

In [3]:
#stripping punctuation, tokenizing, and stop word removing for the whole dataset
#jeopardy = jeopardy.withColumn("stripped", f.regexp_replace(f.col("question"), "[\!@#$%^&*)(><,';:]", ""))
#jeopardy.cache()
#tokenizer = Tokenizer(inputCol = "stripped", outputCol = "words")
#tokenized = tokenizer.transform(jeopardy)
#tokenized.cache()
#remover = StopWordsRemover(inputCol="words", outputCol="filtered")
#jeopardyStopRemoved = remover.transform(tokenized)
#jeopardyStopRemoved.cache()

DataFrame[air_date: string, answer: string, category: string, question: string, round: string, show_number: string, value: string, stripped: string, words: array<string>, filtered: array<string>]

In [5]:
#jeopardy.select("question").show(1,truncate=False)

+--------------------------------------------------------------------------------------------------+
|question                                                                                          |
+--------------------------------------------------------------------------------------------------+
|'For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory'|
+--------------------------------------------------------------------------------------------------+
only showing top 1 row

In [4]:
#jeopardyStopRemoved.select("filtered").show(1,truncate=False)

+-----------------------------------------------------------------------+
|filtered                                                               |
+-----------------------------------------------------------------------+
|[last, 8, years, life, galileo, house, arrest, espousing, mans, theory]|
+-----------------------------------------------------------------------+
only showing top 1 row

In [11]:
#stripping punctuation, tokenizing, and stop word removing for the modified dataset
jeo_fpunc = jeo_f.withColumn("stripped", f.regexp_replace(f.col("question"), "[\!@#$%^&*)(><,';:]", ""))
jeo_fpunc.cache()
tokenizer = Tokenizer(inputCol = "stripped", outputCol = "words")
tokenized_f = tokenizer.transform(jeo_fpunc)
tokenized_f.cache()
remover = StopWordsRemover(inputCol="words", outputCol="filtered")
jeo_fStopRemoved = remover.transform(tokenized_f)
jeo_fStopRemoved.cache()

DataFrame[air_date: string, answer: string, category: string, question: string, round: string, show_number: string, value: string, stripped: string, words: array<string>, filtered: array<string>]

In [12]:
from nltk.stem.porter import *
stemmer = PorterStemmer()

In [13]:
def stem(in_vec):
    out_vec = []
    for t in in_vec:
        t_stem = stemmer.stem(t)
        out_vec.append(t_stem)       
    return out_vec

In [14]:
from pyspark.sql.types import *
stemmer_udf = udf(lambda x: stem(x), ArrayType(StringType()))

In [50]:
#jeopardyStemmed = jeopardyStopRemoved.withColumn("stemmed", stemmer_udf("filtered"))
#jeopardyStemmed.cache()

+----------+---------------------+-------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+-----------+-----+----------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+
|air_date  |answer               |category                       |question                                                                                                                |round    |show_number|value|stripped                                                                                                        |words                                                                                                                                  |filtered                                                                                                     |stemmed                                                                                              |
+----------+---------------------+-------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+-----------+-----+----------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+
|2004-12-31|Copernicus           |HISTORY                        |'For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory'                      |Jeopardy!|4680       |$200 |For the last 8 years of his life Galileo was under house arrest for espousing this mans theory                  |[for, the, last, 8, years, of, his, life, galileo, was, under, house, arrest, for, espousing, this, mans, theory]                      |[last, 8, years, life, galileo, house, arrest, espousing, mans, theory]                                      |[last, 8, year, life, galileo, hous, arrest, espous, man, theori]                                    |
|2004-12-31|Jim Thorpe           |ESPN's TOP 10 ALL-TIME ATHLETES|'No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves'           |Jeopardy!|4680       |$200 |No. 2 1912 Olympian football star at Carlisle Indian School 6 MLB seasons with the Reds Giants  Braves          |[no., 2, 1912, olympian, football, star, at, carlisle, indian, school, 6, mlb, seasons, with, the, reds, giants, , braves]             |[no., 2, 1912, olympian, football, star, carlisle, indian, school, 6, mlb, seasons, reds, giants, , braves]  |[no., 2, 1912, olympian, footbal, star, carlisl, indian, school, 6, mlb, season, red, giant, , brave]|
|2004-12-31|Arizona              |EVERYBODY TALKS ABOUT IT...    |'The city of Yuma in this state has a record average of 4,055 hours of sunshine each year'                              |Jeopardy!|4680       |$200 |The city of Yuma in this state has a record average of 4055 hours of sunshine each year                         |[the, city, of, yuma, in, this, state, has, a, record, average, of, 4055, hours, of, sunshine, each, year]                             |[city, yuma, state, record, average, 4055, hours, sunshine, year]                                            |[citi, yuma, state, record, averag, 4055, hour, sunshin, year]                                       |
|2004-12-31|McDonald\'s          |THE COMPANY LINE               |'In 1963, live on "The Art Linkletter Show", this company served its billionth burger'                                  |Jeopardy!|4680       |$200 |In 1963 live on "The Art Linkletter Show" this company served its billionth burger                              |[in, 1963, live, on, "the, art, linkletter, show", this, company, served, its, billionth, burger]                                      |[1963, live, "the, art, linkletter, show", company, served, billionth, burger]                               |[1963, live, "the, art, linklett, show", compani, serv, billionth, burger]                           |
|2004-12-31|John Adams           |EPITAPHS & TRIBUTES            |'Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States'              |Jeopardy!|4680       |$200 |Signer of the Dec. of Indep. framer of the Constitution of Mass. second President of the United States          |[signer, of, the, dec., of, indep., framer, of, the, constitution, of, mass., second, president, of, the, united, states]              |[signer, dec., indep., framer, constitution, mass., second, president, united, states]                       |[signer, dec., indep., framer, constitut, mass., second, presid, unit, state]                        |
|2004-12-31|the ant              |3-LETTER WORDS                 |'In the title of an Aesop fable, this insect shared billing with a grasshopper'                                         |Jeopardy!|4680       |$200 |In the title of an Aesop fable this insect shared billing with a grasshopper                                    |[in, the, title, of, an, aesop, fable, this, insect, shared, billing, with, a, grasshopper]                                            |[title, aesop, fable, insect, shared, billing, grasshopper]                                                  |[titl, aesop, fabl, insect, share, bill, grasshopp]                                                  |
|2004-12-31|the Appian Way       |HISTORY                        |'Built in 312 B.C. to link Rome & the South of Italy, it's still in use today'                                          |Jeopardy!|4680       |$400 |Built in 312 B.C. to link Rome  the South of Italy its still in use today                                       |[built, in, 312, b.c., to, link, rome, , the, south, of, italy, its, still, in, use, today]                                            |[built, 312, b.c., link, rome, , south, italy, still, use, today]                                            |[built, 312, b.c., link, rome, , south, itali, still, use, today]                                    |
|2004-12-31|Michael Jordan       |ESPN's TOP 10 ALL-TIME ATHLETES|'No. 8: 30 steals for the Birmingham Barons; 2,306 steals for the Bulls'                                                |Jeopardy!|4680       |$400 |No. 8 30 steals for the Birmingham Barons 2306 steals for the Bulls                                             |[no., 8, 30, steals, for, the, birmingham, barons, 2306, steals, for, the, bulls]                                                      |[no., 8, 30, steals, birmingham, barons, 2306, steals, bulls]                                                |[no., 8, 30, steal, birmingham, baron, 2306, steal, bull]                                            |
|2004-12-31|Washington           |EVERYBODY TALKS ABOUT IT...    |'In the winter of 1971-72, a record 1,122 inches of snow fell at Rainier Paradise Ranger Station in this state'         |Jeopardy!|4680       |$400 |In the winter of 1971-72 a record 1122 inches of snow fell at Rainier Paradise Ranger Station in this state     |[in, the, winter, of, 1971-72, a, record, 1122, inches, of, snow, fell, at, rainier, paradise, ranger, station, in, this, state]       |[winter, 1971-72, record, 1122, inches, snow, fell, rainier, paradise, ranger, station, state]               |[winter, 1971-72, record, 1122, inch, snow, fell, rainier, paradis, ranger, station, state]          |
|2004-12-31|Crate & Barrel       |THE COMPANY LINE               |'This housewares store was named for the packaging its merchandise came in & was first displayed on'                    |Jeopardy!|4680       |$400 |This housewares store was named for the packaging its merchandise came in  was first displayed on               |[this, housewares, store, was, named, for, the, packaging, its, merchandise, came, in, , was, first, displayed, on]                    |[housewares, store, named, packaging, merchandise, came, , first, displayed]                                 |[housewar, store, name, packag, merchandis, came, , first, display]                                  |
|2004-12-31|Jackie Gleason       |EPITAPHS & TRIBUTES            |'"And away we go"'                                                                                                      |Jeopardy!|4680       |$400 |"And away we go"                                                                                                |["and, away, we, go"]                                                                                                                  |["and, away, go"]                                                                                            |["and, away, go"]                                                                                    |
|2004-12-31|the cud              |3-LETTER WORDS                 |'Cows regurgitate this from the first stomach to the mouth & chew it again'                                             |Jeopardy!|4680       |$400 |Cows regurgitate this from the first stomach to the mouth  chew it again                                        |[cows, regurgitate, this, from, the, first, stomach, to, the, mouth, , chew, it, again]                                                |[cows, regurgitate, first, stomach, mouth, , chew]                                                           |[cow, regurgit, first, stomach, mouth, , chew]                                                       |
|2004-12-31|Ceylon (or Sri Lanka)|HISTORY                        |'In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea'                       |Jeopardy!|4680       |$600 |In 1000 Rajaraja I of the Cholas battled to take this Indian Ocean island now known for its tea                 |[in, 1000, rajaraja, i, of, the, cholas, battled, to, take, this, indian, ocean, island, now, known, for, its, tea]                    |[1000, rajaraja, cholas, battled, take, indian, ocean, island, known, tea]                                   |[1000, rajaraja, chola, battl, take, indian, ocean, island, known, tea]                              |
|2004-12-31|Jim Brown            |ESPN's TOP 10 ALL-TIME ATHLETES|'No. 1: Lettered in hoops, football & lacrosse at Syracuse & if you think he couldn't act, ask his 11 "unclean" buddies'|Jeopardy!|4680       |$600 |No. 1 Lettered in hoops football  lacrosse at Syracuse  if you think he couldnt act ask his 11 "unclean" buddies|[no., 1, lettered, in, hoops, football, , lacrosse, at, syracuse, , if, you, think, he, couldnt, act, ask, his, 11, "unclean", buddies]|[no., 1, lettered, hoops, football, , lacrosse, syracuse, , think, couldnt, act, ask, 11, "unclean", buddies]|[no., 1, letter, hoop, footbal, , lacross, syracus, , think, couldnt, act, ask, 11, "unclean", buddi]|
|2004-12-31|the UV index         |EVERYBODY TALKS ABOUT IT...    |'On June 28, 1994 the nat'l weather service began issuing this index that rates the intensity of the sun's radiation'   |Jeopardy!|4680       |$600 |On June 28 1994 the natl weather service began issuing this index that rates the intensity of the suns radiation|[on, june, 28, 1994, the, natl, weather, service, began, issuing, this, index, that, rates, the, intensity, of, the, suns, radiation]  |[june, 28, 1994, natl, weather, service, began, issuing, index, rates, intensity, suns, radiation]           |[june, 28, 1994, natl, weather, servic, began, issu, index, rate, intens, sun, radiat]               |
|2004-12-31|Bulova               |THE COMPANY LINE               |'This company's Accutron watch, introduced in 1960, had a guarantee of accuracy to within one minute a  month'          |Jeopardy!|4680       |$600 |This companys Accutron watch introduced in 1960 had a guarantee of accuracy to within one minute a  month       |[this, companys, accutron, watch, introduced, in, 1960, had, a, guarantee, of, accuracy, to, within, one, minute, a, , month]          |[companys, accutron, watch, introduced, 1960, guarantee, accuracy, within, one, minute, , month]             |[compani, accutron, watch, introduc, 1960, guarante, accuraci, within, one, minut, , month]          |
|2004-12-31|Jesse James          |EPITAPHS & TRIBUTES            |'Outlaw: "Murdered by a traitor and a coward whose name is not worthy to appear here"'                                  |Jeopardy!|4680       |$600 |Outlaw "Murdered by a traitor and a coward whose name is not worthy to appear here"                             |[outlaw, "murdered, by, a, traitor, and, a, coward, whose, name, is, not, worthy, to, appear, here"]                                   |[outlaw, "murdered, traitor, coward, whose, name, worthy, appear, here"]                                     |[outlaw, "murder, traitor, coward, whose, name, worthi, appear, here"]                               |
|2004-12-31|imp                  |3-LETTER WORDS                 |'A small demon, or a mischievous child (who might be a little demon!)'                                                  |Jeopardy!|4680       |$600 |A small demon or a mischievous child who might be a little demon                                                |[a, small, demon, or, a, mischievous, child, who, might, be, a, little, demon]                                                         |[small, demon, mischievous, child, might, little, demon]                                                     |[small, demon, mischiev, child, might, littl, demon]                                                 |
|2004-12-31|the International    |HISTORY                        |'Karl led the first of these Marxist organizational efforts; the second one began in 1889'                              |Jeopardy!|4680       |$800 |Karl led the first of these Marxist organizational efforts the second one began in 1889                         |[karl, led, the, first, of, these, marxist, organizational, efforts, the, second, one, began, in, 1889]                                |[karl, led, first, marxist, organizational, efforts, second, one, began, 1889]                               |[karl, led, first, marxist, organiz, effort, second, one, began, 1889]                               |
|2004-12-31|(Lou) Gehrig         |ESPN's TOP 10 ALL-TIME ATHLETES|'No. 10: FB/LB for Columbia U. in the 1920s; MVP for the Yankees in '27 & '36; "Gibraltar in Cleats"'                   |Jeopardy!|4680       |$800 |No. 10 FB/LB for Columbia U. in the 1920s MVP for the Yankees in 27  36 "Gibraltar in Cleats"                   |[no., 10, fb/lb, for, columbia, u., in, the, 1920s, mvp, for, the, yankees, in, 27, , 36, "gibraltar, in, cleats"]                     |[no., 10, fb/lb, columbia, u., 1920s, mvp, yankees, 27, , 36, "gibraltar, cleats"]                           |[no., 10, fb/lb, columbia, u., 1920, mvp, yanke, 27, , 36, "gibraltar, cleats"]                      |
+----------+---------------------+-------------------------------+------------------------------------------------------------------------------------------------------------------------+---------+-----------+-----+----------------------------------------------------------------------------------------------------------------+---------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [15]:
#stemming words in modified dataset
jeo_fStemmed = jeo_fStopRemoved.withColumn("stemmed", stemmer_udf("filtered"))
jeo_fStemmed.cache()

DataFrame[air_date: string, answer: string, category: string, question: string, round: string, show_number: string, value: string, stripped: string, words: array<string>, filtered: array<string>, stemmed: array<string>]

In [37]:
hashingTF = HashingTF(inputCol="stemmed", outputCol="rawFeatures", numFeatures=50000)
featurizedData = hashingTF.transform(jeo_fStemmed)
idf = IDF(inputCol="rawFeatures", outputCol="features")
idfModel = idf.fit(featurizedData)
rescaledData = idfModel.transform(featurizedData)
rescaledData.cache()

DataFrame[air_date: string, answer: string, category: string, question: string, round: string, show_number: string, value: string, stripped: string, words: array<string>, filtered: array<string>, stemmed: array<string>, rawFeatures: vector, features: vector]

In [38]:
training,test = rescaledData.randomSplit([0.8,0.2], seed = 1) 
kmeans = KMeans(k=50, seed=1)
clusters = kmeans.fit(training.select('features'))
transformed = clusters.transform(test)
transformed.cache()

DataFrame[air_date: string, answer: string, category: string, question: string, round: string, show_number: string, value: string, stripped: string, words: array<string>, filtered: array<string>, stemmed: array<string>, rawFeatures: vector, features: vector, prediction: int]

In [39]:
#transformed.select('category','prediction').show(100)
transformed.groupBy('prediction').count().sort(desc("prediction")).show(50)

+----------+-----+
|prediction|count|
+----------+-----+
|        47|   29|
|        46|    2|
|        44|   12|
|        39|    1|
|        36|   11|
|        22|  136|
|        19|    1|
|        18|   45|
|        17|    4|
|        16|   26|
|        13|    1|
|        12|   10|
|        11|   30|
|         8|  161|
|         6|   54|
|         4|    2|
|         3|   68|
|         0| 5285|
+----------+-----+

In [28]:
test.count()

5878

In [61]:
transformed.filter(transformed["prediction"] == 3).select("category","question").show(truncate=False)

+--------------------+------------------------------------------------------------------------------------------------------------+
|category            |question                                                                                                    |
+--------------------+------------------------------------------------------------------------------------------------------------+
|QUOTES              |'"Reading is to the mind as" this is "to the body"'                                                         |
|10-LETTER WORDS     |'Mercy killing'                                                                                             |
|WORD ORIGINS        |'From Old French "manoeuvrer" meaning "to work by hand", which was how this item was put into soil'         |
|BIRDS               |'Falcons kill their prey by doing this'                                                                     |
|PLAYWRIGHTS         |'His last play, "What The Butler Saw", was produced in 1969, 2 years after he was killed'                   |
|AUTHORS             |'This author's home where he wrote "To Have And Have Not" is now a nat'l landmark in Key West, Fla.'        |
|HISTORY             |'Marino Faliero, who was the doge of this, led a plot to kill the nobles & was executed in 1355'            |
|FICTIONAL CHARACTERS|'In wooing her, Siegfried was standing in for someone else, & when she found out, she killed him'           |
|POTPOURRI           |'These 2 words for conical deposits found in caverns come from the Greek "stalassein", meaning "to drip"'   |
|HODGEPODGE          |'"To Anacreon In Heaven" is the original title of the music to which this is set'                           |
|MYTHOLOGY           |'Ironically, Jason was killed when a piece of this ship fell & struck him on the head'                      |
|WORD ORIGINS        |'This term for a copy or reproduction is from the Latin meaning "to make similar"'                          |
|5-LETTER WORDS      |'This word for a decorative sticker comes partly from calquer, meaning "to trace"'                          |
|THE MOVIES          |'The 1967 Sidney Potier film "To Sir With Love" was directed by this "Shogun" author'                       |
|MUSIC               |'An instrumental piece usually for one musician, its name comes from Toccare, Italian for "to touch"'       |
|POP MUSIC           |'While touring with The Beach Boys, she was cast in a major role in "To Sir With Love"'                     |
|AUTHORS             |'In 1991 the U. of Alabama awarded this "To Kill A Mockingbird" author an honorary Doctor of Letters degree'|
|NATURE              |'Eagles usually kill their prey with these body parts'                                                      |
|AUTHORS             |'He dedicated his 1888 book "Plain Tales From The Hills" "To the wittiest woman in India"'                  |
|AROUND THE WORLD    |'The Solidarity monument in this Polish port city honors workers killed during the 1970 shipyard strikes'   |
+--------------------+------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [32]:
#gmm = GaussianMixture().setK(10).setSeed(538009335)
#model = gmm.fit(training.select("features"))
#model.gaussiansDF.show(truncate=False)

In [63]:
indexer = StringIndexer(inputCol="category", outputCol="label")
indexed = indexer.fit(rescaledData).transform(rescaledData)
indexed.select("label","category").show(truncate=False)

+-----+-----------------+
|label|category         |
+-----+-----------------+
|8.0  |HISTORY          |
|42.0 |3-LETTER WORDS   |
|8.0  |HISTORY          |
|42.0 |3-LETTER WORDS   |
|8.0  |HISTORY          |
|42.0 |3-LETTER WORDS   |
|8.0  |HISTORY          |
|42.0 |3-LETTER WORDS   |
|8.0  |HISTORY          |
|42.0 |3-LETTER WORDS   |
|81.0 |IN THE DICTIONARY|
|81.0 |IN THE DICTIONARY|
|81.0 |IN THE DICTIONARY|
|81.0 |IN THE DICTIONARY|
|81.0 |IN THE DICTIONARY|
|77.0 |TRAVEL & TOURISM |
|77.0 |TRAVEL & TOURISM |
|77.0 |TRAVEL & TOURISM |
|77.0 |TRAVEL & TOURISM |
|77.0 |TRAVEL & TOURISM |
+-----+-----------------+
only showing top 20 rows

In [64]:
indexed.show(1)

+----------+----------+--------+--------------------+---------+-----------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
|  air_date|    answer|category|            question|    round|show_number|value|            stripped|               words|            filtered|             stemmed|         rawFeatures|            features|label|
+----------+----------+--------+--------------------+---------+-----------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
|2004-12-31|Copernicus| HISTORY|'For the last 8 y...|Jeopardy!|       4680| $200|For the last 8 ye...|[for, the, last, ...|[last, 8, years, ...|[last, 8, year, l...|(50000,[7848,8230...|(50000,[7848,8230...|  8.0|
+----------+----------+--------+--------------------+---------+-----------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-----+
only showing top 1 row

In [66]:
training,test = indexed.randomSplit([0.8,0.2], seed = 1)

In [ ]:
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrModel = lr.fit(training)